# Environment
.env

# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
*.egg-info/

# Django
*.log
db.sqlite3
media/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.sh

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Temp files
temp.png
